<div class="row mt-4">
  <div class="col-sm-12">
    <h3>Edit Keymap</h3>
    <% if @keymap.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= @keymap.errors.count %> errors prohibited this keymap from being saved:</h2>
        <ul>
          <% @keymap.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with scope: :keymap, url: keymap_path(@keymap), method: :put, local: true do |f| %>
      <fieldset>
        <%= render 'Keymaps/form_keymap', f: f %>
        <%= f.button 'Save Changes', type: 'submit', onclick: 'submit()', id: 'customButton', class: "btn btn-primary"%>
      </fieldset>
    <% end %>
  </div>
</div>
