<%# KEYMAPS / NEW %>
<div class="row">
  <div class="col-sm-12">
    <h1>New Keymap</h1>
    <%= form_with scope: :keymap, url: keymaps_path do |f| %>
      <fieldset>
        <legend>Keymap</legend>
        <div class="form-group">
          <%= f.label :name, "Name *" %>
          <%= f.text_field :name, class: "form-control", placeholder: "Enter keynmap name" %>
          <small id="nameHelp" class="form-text text-muted">Using strings of 64 characters max.</small>
        </div>
        <div class="form-group">
          <%= f.label :version, "Version" %>
          <%= f.text_field :version, class: "form-control", placeholder: "Enter keynmap version" %>
          <small id="versionHelp" class="form-text text-muted">using only alphanumeric characters.</small>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "Introduction" %>
          <%= f.text_area :introduction, class: "form-control", placeholder: "Enter keynmap introduction" %>
        </div>
        <fieldset class="form-group">
          <legend>Status</legend>
          <div class="form-check">
            <label class="form-check-label">
              <%= f.radio_button :status, :public, class: "form-check-input", checked:true %>
              Public --- This keymap will be visible to everyone.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= f.radio_button :status, :private, class: "form-check-input" %>
              Private
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= f.radio_button :status, :public, class: "form-check-input" %>
              Draft
            </label>
          </div>
        </fieldset>
        <%= f.button 'Submit', type: 'submit', onclick: 'submit()', id: 'customButton', class: "btn btn-primary"%>
      </fieldset>
    <% end %>
  </div>
</div>
