<%# SEARCH FORM %>
<div class="row mt-4">
  <div class="col-12">
    <%= search_form_for @q, url: search_keymaps_path, local: true, class: "" do |f| %>
      <fieldset class="col-12">
        <div class="form-group form-inline">
          <%= f.search_field :name_cont_all, class: "form-control col", placeholder: "Search" %>
          <%= button_tag :submit, class: "form-control" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<%#  %>
<%#  %>
<%# KEYMAP LIST %>
<div class="row">
  <div class="col-12">
    <% @keymaps.each do |keymap| %>
      <%= link_to keymap_path(keymap), class: "list-group-item" do %>
        <li class="media">
          <div class="media-left hidden-xs">
            <img class="gravatar" alt="ubuntu/trusty64" src="https://www.gravatar.com/avatar/1e8d3d421d018a7d812b3968bb4a3a6b?s=64&amp;d=mm">
          </div>
          <div class="media-body">
            <div class="row">
              <div class="col-md-5">
                <h4>
                  <%= keymap.name %>
                  <small>
                    <%= keymap.version %>
                  </small>
                </h4>
                <div>
                  <%= keymap.introduction %>
                </div>
              </div>
              <div class="col-md-3">
                <span title="virtualbox">
                  <span class="label label-inline label-outline">
                    tags
                  </span>
                  <span>
                  </span></span></div>
              <div class="col-md-2">
                <div>
                  Downloads
                </div>
                <div>
                  <strong>
                    30,481,807
                  </strong>
                </div>
              </div>
              <div class="col-md-2">
                <div>
                  Released
                </div>
                <div>
                  <strong>
                    4 months ago
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end%>
  </div>
</div>
