<%# KEYMAP / :ID %>
<%# TITLE %>
<div class="row mt-4">
  <h1><%= @keymap.name %></h1>
  <div class="d-flex align-items-end ml-2 mb-3">
    <span class="badge badge-primary"><%= @keymap.version %></span>
  </div>
</div>
<%# ..TITLE %>
<%# DATE %>
<div class="row">
  <h6 class="ml-1">
    <span class="mr-2">Update <%= time_ago_in_words(@keymap.updated_at) %></span>
    <span class="mr-2">Created: <%= @keymap.created_at.strftime("%d %B %Y at %R") %></span>
  </h6>
</div>
<%# ..DATE %>
<%# TAGS %
<div class="row">
  <div class="d-flex align-items-end ml-1 mb-3"><span class="badge badge-danger">Windows</span></div>
</div>
<%# ..TAGS %>
<%# KEYBOARD IMAGE %>
<div class="row">
  <div class="keyboard">
  </div>
</div>
<%# ..KEYBOARD IMAGE %>
<%# SEARCH %>
<div class="row mt-4">
  <div class="col-10 offset-1">
    <%= form_with scope: :search, url: keymap_path do |form| %>
      <fieldset>
        <div class="form-group">
          <%= form.text_field :sarchword, class: "form-control", placeholder: "Search" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<%# ..SEARCH %>
<%# COMMANDS %>
<div class="row mt-2">
  <div class="col-12">
    <% @categorized_keymap.each do | key, value | %>
      <h5><%= key %></h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" style="width:5%"></th>
            <th scope="col" style="width:40%">Command2</th>
            <th scope="col" style="width:35%">Keybinding</th>
            <th scope="col" style="width:20%">When</th>
            <th scope="col" style="width:20%"><%# Bottons %></th>
          </tr>
        </thead>
        <tbody>
          <% value.each do | command | %>
            <tr class="table-active">
              <td>
                <%# STAR %>
                <div id="request_ajax_update" >
                  <% if command.recomend %>
                    <%= link_to recomend_update_command_path(command), method: :patch, remote: true do %>
                      <i class="fas fa-star active-star"></i>
                    <% end %>
                  <% else %>
                    <%= link_to recomend_update_command_path(command), method: :patch, remote: true do %>
                      <i class="fas fa-star inactive-star"></i>
                    <% end %>
                  <% end %>
                </div>
              </td>
              <td><%= command.name %></td>
              <td><%= command.keybindings[0].name %></td>
              <td><%= command.when %></td>
              <td><%= link_to "D",command_path(command), method: :delete, remote: true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<%# ..COMMANDS %>
<%# IMPUT MODAL BUTTON %>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#commandImputModal">
  <i class="far fa-window-maximize"></i>
  New Keybind
</button>
<%# ..IMPUT MODAL BUTTON %>
<%# IMPUT MODAL %>
<div class="modal fade bottom show" id="commandImputModal" tabindex="-1" role="dialog" aria-labelledby="commandImputModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-full-height modal-bottom" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commandImputModalLabel">New Keybind</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with scope: :command, url: commands_path, local: true do |form| %>
        <div class="modal-body row">
          <div class="form-group">
          </div>
          <div class="col-2">
            <%= form.text_field :category_name, class: "form-control", placeholder: "Category" %>
          </div>
          <div class="col-4">
            <%= form.text_field :name, class: "form-control", placeholder: "Command Name" %>
          </div>
          <div class="col-3">
            <%= form.text_field :keybinding_name, class: "form-control", placeholder: "Keybinding" %>
          </div>
          <div class="col-3">
            <%= form.text_field :when, class: "form-control", placeholder: "When" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cansel</button>
          <%= form.button 'Submit', type: 'submit', onclick: 'submit()', id: 'customButton', class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# ..IMPUT MODAL %>
