<%# TITLES %>
<div class="row mt-3">
  <h3><%= @keymap.name %></h3>
  <%# VERSION %>
  <div class="d-flex align-items-end ml-2 mb-3 mr-2">
    <span class="badge badge-primary mr-1"><%= @keymap.version %></span>
    <span class="badge badge-dark mr-2"><%= @keymap.status %></span>
    <%= render 'keymaps/favorite', keymap: @keymap %>
  </div>
</div>
<%# DATES %>
<div class="row">
  <h6 class="ml-1">
    <span class="mr-2"><%= time_ago_in_words(@keymap.updated_at) %> ago</span>
    <span class="mr-2">Created: <%= @keymap.created_at.strftime("%d %B %Y at %R") %></span>
  </h6>
</div>
<%# TAGS % %>
<div class="row">
  <div class="d-flex align-items-end ml-1 row">
    <%= render 'keymaps/tags', tag_list: @keymap.tag_list %>
  </div>
</div>
<%# INTRODUCTION %>
<% if false %>
  <div class="row introduction">
    <div class="card text-white mt-2 mb-3" style="width:100%">
      <div class="card-body">
        <div class="card-text"><%= simple_format(h(@keymap.introduction)) %></div>
      </div>
    </div>
  </div>
<% end %>
<%# CONTENT %>
<div class="row introduction">
  <div class="card text-white mt-2 mb-3" style="width:100%">
    <div class="card-body">
      <div class="card-text"><%= @keymap.content %></div>
    </div>
  </div>
</div>
<%# KEYBOARD IMAGE %>
<%# <div class="row">
  <div class="keyboard">
  </div>
</div> %>
<%# ..KEYBOARD IMAGE %>
<%# SEARCH %>
<div class="row mt-4">
  <div class="col-12">
    <form action="#">
      <div class="form-group">
        <input type="text" name="search" value="" id="search" class="form-control form-search", placeholder="Search"/>
      </div>
    </form>
  </div>
</div>
<%# ..SEARCH %>
<%# COMMANDS %>
<div class="row mt-2">
  <div class="col-12">
    <% @categorized_keymap.each do | key, value | %>
      <h5><%= key %></h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" style="width:5%"></th>
            <th scope="col" style="width:40%">Command</th>
            <th scope="col" style="width:35%">Keybinding</th>
            <th scope="col" style="width:20%">When</th>
          </tr>
        </thead>
        <tbody>
          <% value.each do | command | %>
            <tr class="table-active">
              <td>
                <%# STAR %>
                <div id="request_ajax_update" >
                  <% if command.recomend %>
                    <%= link_to recomend_update_command_path(command), method: :patch, remote: true do %>
                      <i class="fas fa-star active-star"></i>
                    <% end %>
                  <% else %>
                    <%= link_to recomend_update_command_path(command), method: :patch, remote: true do %>
                      <i class="fas fa-star inactive-star"></i>
                    <% end %>
                  <% end %>
                </div>
              </td>
              <td><%= command.name %></td>
              <td><%= command.keybindings[0].name %></td>
              <td><%= command.when %></td>
              <% if user_signed_in? and command.keymap.user == current_user %>
                <td>
                  <%# TO DELETE %>
                  <%= link_to command_path(command), method: :delete, remote: true do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% if current_user == @keymap.user %>
  <%# COMMAND IMPUT BUTTON - MODAL %>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#commandImputModal">
          <i class="far fa-window-maximize"></i>
          New Keybind
        </button>
      </div>
    </div>
  </div>
  <%# COMMAND IMPUT FORM - MODAL %>
  <div class="modal fade bottom show" id="commandImputModal" tabindex="-1" role="dialog" aria-labelledby="commandImputModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-full-height modal-bottom" role="dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commandImputModalLabel">New Keybind</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with scope: :command, url: commands_path(keymap_id: @keymap.id), local: true do |form| %>
          <div class="modal-body row">
            <div class="form-group">
            </div>
            <div class="col-2">
              <%= form.text_field :category_name, class: "form-control", placeholder: "Category" %>
            </div>
            <div class="col-4">
              <%= form.text_field :name, class: "form-control", placeholder: "Command Name" %>
            </div>
            <div class="col-3">
              <%= form.text_field :keybinding_name, class: "form-control", placeholder: "Keybinding" %>
            </div>
            <div class="col-3">
              <%= form.text_field :when, class: "form-control", placeholder: "When" %>
            </div>
          </div>
          <div class="modal-footer">
            <%= form.button 'Submit', type: 'submit', onclick: 'submit()', id: 'customButton', class: "btn btn-primary"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
